@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One:wght@400;500;600;700');
@import url('https://fonts.cdnfonts.com/css/mclaren');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Condimens:wght@400;500;600;700&display=swap');


:root {
    --amarelo-agro-connect: #ffc632;
    --verde-fraco: #50a039;
    --verde-forte: #3c7c2a;
    --verde-piscina: #378656;
    --cinza-fundo: #e2e2e2;
    --musgo: #385343;
    --poppins: "Poppins";
    --chivo: "Chivo";
    --hammersmith: "Hammersmith One";
    --mclaren: "McLaren";
    --agroacademy: "Cardo";
    --agroaccord: "Condiment"

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }