.h1main {
    margin-left: 6rem;
    margin-top: 4rem;
    font-family: var(--poppins);
    font-weight: 400;
}

.containerProdutos {
    display: flex;
    margin-top: 6rem;
    margin-left: 6rem;
    text-align: center;
}
.itemContainer {
    display: flex;
    gap: 16rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.headerItem {
    font-family: var(--mclaren);
    font-size: 1.25rem;
}

.itemText {
    width: 36.5rem;
    height: 4.625rem;
    font-size: 1.25rem;
    font-family: var(--chivo);
    font-weight: 300;
}

.buttonItem {
    width: 15.5rem;
    height: 3.375rem;
    background: #FFC632;
    border-radius: 1.2rem;
    font-family: var(--poppins);
    margin-bottom: 2rem;
    font-weight: 400;
    
    font-size: 1.125rem;
}

.buttonItem:hover {
    background: #f8d16e;
}



@media (max-width: 1366px) {
    .h1main {
        margin-left: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .containerProdutos {
        margin-left: 2rem;
    }

    .itemContainer {
        gap: 6rem;
    }
}