.box {
    width: 24rem;
    height: 7rem;
    border-radius: 1.25rem;
    background: #c5c2c2;
}

.items {
    display: flex;
    gap: 6rem;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
    margin-top: 0.5rem;
    
}

.numberInfo {
    font-size: 5rem;
    font-weight: bold;
    font-family: var(--hammersmith)
}

.textInfo {
    font-size: 1.5rem;
    color: #000;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;
    font-family: var(--chivo);
    font-weight: 300;
}

@media (max-width: 1366px) {
    .box {
        width: 20rem;
        height: 6rem;
    }

    .items {
        gap: 2rem;
    }

    .numberInfo {
        font-size: 4rem;
    }

    .textInfo {
        font-size: 1rem;
        margin-right: 1rem;
        font-weight: 300;
        color: #000;

    }
}

@media (max-width: 1900px) {

    .box {
        width: 20rem;
        height: 6rem;
    }

    .items {
        gap: 3rem;
    }

    .numberInfo {
        font-size: 4rem;
    }

    .textInfo {
        font-size: 1rem;
        margin-right: 1rem;
        font-weight: 300;
        color: #000;

    }
}