.tituloCulturas {
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 6rem;
}


.buttonAdicionarCultura {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.6rem;
  margin-left: 6rem;
  border-radius: 2.8125rem;
  width: 17rem;
  height: 2.6rem;
  background: var(--Amarelo-AgroConnect, #FFC632);
  cursor: pointer;
  gap: 1.8rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.buttonAdicionarCultra:hover {
  background: #f8d16e;
}