.title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-top: 1.5rem;
  font-weight: 400;
  font-family: var(--poppins);
}

.buttonRelatorio {
  background: white;
  border: none;
  margin-left: 5rem;
  margin-top: -3rem;
  cursor: pointer;
  border-radius: 100%;
}

.buttonRelatorio:hover {
  background: gray; 
}

.imageButtonRelatorio {
  width: 4rem;
  height: 4rem;
}

.contentReportSummary{
  display: flex;
  gap: 10rem;
  justify-content: center;
  margin-top: 10rem;
}

@media (max-width: 1366px) {
  
}